<div class="container" style="width:100vw">

  <h3 class = "notification-title mt-3">Notifications</h3>

  <%# <% if current_user.notifications.size == 0 %>
    <%# <i><p class = "d-flex justify-content-around mt-4">You don’t have any notif for the moment</p></i> %>
  <%# <% else %>
  <% if @notifications.where(user: current_user).empty? %>
      <p style="text-align: center; margin-top: 25px;">You do not have any notifications yet.</p>
    <% else %>

  <% @notifications.each do |notif| %>

      <%= link_to notif.passenger_request.status == "pending" ? edit_passenger_request_path(notif.passenger_request) : "#", style:'text-decoration: none;' do  %>
        <div class="d-flex notification-card">

          <div class="d-flex align-items-center" style="width: 100px;">
            <%= cl_image_tag notif.sender.photo.key, class: "avatar-notif"%>
          </div>

          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mt-1">
              <h4 style="margin-bottom:0"><%= "#{notif.passenger_request.ride.event.name}" %></h4>
            </div>

            <div class="d-flex align-items-center">
              <p><%= "#{notif.sender.first_name} #{notif.description}" %></p>
            </div>
          </div>

          <% if notif.passenger_request.status == "pending" %>
          <div class="d-flex align-items-center">
            <p><i class="fa-solid fa-chevron-right"></i></p>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
