<div class="myfooter">
    <div class="footericon">
      <button><i class="fa-solid fa-user"></i></button>
    </div>
    <div class="footericon">
      <%= link_to events_path do %>
        <button><i class="fa-solid fa-calendar-days"></i></button>
      <% end %>
    </div>
    <div class="footericon">
      <button><i class="fa-solid fa-bell"></i></button>
    </div>
    <div class="footericon">
      <button><i class="fa-solid fa-envelope"></i></button>
    </div>
</div>
