<div class="myfooter">
    <% if user_signed_in? %>
    <div class="footericon">
      <%= image_tag current_user.photo, class: "avatar" %>
    </div>
    <% end %>
    <div class="footericon">
      <%= link_to events_path do %>
        <button><i class="fa-solid fa-calendar-days"></i></button>
      <% end %>
    </div>
    <div class="footericon">
      <button><i class="fa-solid fa-bell"></i></button>
    </div>
    <div class="footericon">
      <button><i class="fa-solid fa-envelope"></i></button>
    </div>
</div>
