<div class="myfooter">
    <div class="footericon">
      <button><i class="fa-solid fa-bell"></i></button>
    </div>
    <div class="footericon">
      <button><i class="fa-solid fa-calendar-days"></i></button>
    </div>
    <div class="footericon">
      <button><i class="fa-solid fa-envelope"></i></button>
    </div>
</div>
