<div class= "container mt-4">


  <div>
    <h4>My profile</h4>
  </div>

  <div>
    <ul>

      <p >
      <%= @user.first_name %> <%= @user.last_name %>
      </p>
      <%# <%= @user.cars %>
      <p>Hey there! I'm using iZone  <i class="fa-solid fa-hand-spock"></i></p>
    </ul>
  </div>

  <div class = "mt-3">
        <p class="bold">My cars: </p>
        <p>Mercedes AMG</p>
  </div>


</div>
