<div class= "container mt-4">


  <div>
    <h4>My profile</h4>
  </div>

<div>
  <ul>

    <p >
    <%= @user.first_name %> <%= @user.last_name %>
    </p>
    <%# <%= @user.cars %>
    <p>Hey there! I'm using iZone</p>
    <p>This is info about me if I want to put a sentence</p>
  </ul>
</div>

  <div>
        <p class="bold">My cars: </p>
        <p>Mercedes AMG</p>
  </div>


</div>
