.button-classic {
  background-color: #F5E8C7;
  padding: 12.5px 25px;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
}

.button-small {
  background-color: #F5E8C7;
  padding: 4.5px 9px;
  border-radius: 4px;
  color: #000000;
  text-decoration: none;
}
