.button-classic {
  background-color: #F5E8C7;
  padding: 12.5px 25px;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
}

.button-fat {
  background-color: #F5E8C7;
  padding: 20px 35px;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
  font-size: large;
}
.button-small {
  background-color: #F5E8C7;
  padding: 4.5px 9px;
  border-radius: 4px;
  color: #000000;
  text-decoration: none;
}

.button-filter {
  background-color: #F5E8C7;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  color: #000000;
  text-decoration: none;
  border: none;
}

.button-filter-large {
  background-color: #F5E8C7;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  color: #000000;
  text-decoration: none;
  border: none;
}



.button-search{
  background-color: #F5E8C7;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  border: none;
}

.button-request {
  background-color: #F5E8C7;
  padding: 5px 25px;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
}
