.event_banner {
  height: 217px;
  background-color: grey;
  padding: 12px;
  background-size: cover;
  background-position: center;
  position: relative;
  // background-image: url("@event.photo.key");
}

.top-right{
  position: absolute;
  top: 10px;
  right: 10px;
}

.event_banner_text{
  color: white;
  width: 100%;
  margin-top: 86px;
  text-shadow: 1px 1px 1px rgba(255, 192, 203,0.5);
}

.event_banner_image {
  object-fit: cover;
}

.event_description {
  padding: 17px;
  text-align: left;
  height: auto;
  max-height: 38vh;
  width: 90%;
  max-width: 90%;
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  overflow-y: scroll;


}

.event_description p {
  margin-bottom: 0;
  word-wrap: break-word;

}

.event_buttons {
  display: flex;
  width: 80%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 10px;
}

.event_button {
  background-color: #F5E8C7;
  text-decoration: none;
  padding: 20px;
  color: #363062;
  border-radius: 10px;
  border: none;
}

.event_display_members {
  // background-color: antiquewhite;
  height: 50px;
  width: 80%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  justify-content: start;
  color: white;
}

.event_display_members_icon {
  // background-color: aquamarine;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}

.event_display_members_button {
  margin-bottom: 0;
  text-decoration: none;
  color: rgb(255, 255, 255)  ;
}
