.myfooter {
  position: fixed;
  bottom: 0;
  height: 69px;
  width: 100%;
  background-color: #363062;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: #818FB4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footericon {
  display: flex;
  align-items: center;
}
