.flex-container {
  margin: 30px;
  text-align: center;
  padding: 15px;
  }

  .izone {
  padding-top: 30px;
  padding-bottom: 30px;
  }

  .izone h1 {
    padding-bottom: 10px;
  }

  .izone h1:hover {
    color: #F5E8C7;
  }

  hr {
    color: white;
    width: 80%;
    opacity: 4.25;
    margin: auto;
  }

  .icon-home:hover {
    color: #F5E8C7;
  }


  h4 {
    padding-bottom: 10px;
  }
  #creeventlink {
    padding: 17px 26px 17px 26px;
  }
