
.drive{
  padding: 17px;
  text-align: left;
  height: auto;
  max-height: 38vh;
  width: 80%;
  word-wrap: break-word;
  overflow-y: scroll;
}

.drive-box {
  border: solid;
  border-radius: 5px;
  border-color: #363062;
  background-color: #363062;
  box-sizing: border-box;
  margin-top: 5px;
}
