
.drive{
  padding: 17px;
  text-align: left;
  height: auto;
  max-height: 38vh;
  width: 80%;
  word-wrap: break-word;
  overflow-y: scroll;
}

.drive-box {
  margin-top: 13px;
  background-color: rgb(54, 48, 98);
  border-radius: 10px;
  box-shadow: rgba(246, 250, 255, 0.2) 0px 0px 5px;
  padding: 20px;
}

.drive-info-card{
  margin-top: 13px;
  background-color: rgb(54, 48, 98);
  border-radius: 10px;
  box-shadow: rgba(246, 250, 255, 0.2) 0px 0px 5px;
  padding: 10px;
}

.nice-link {
  color: white;
  text-decoration: none;
}
