
.drive{
  padding: 17px;
  text-align: left;
  height: auto;
  max-height: 38vh;
  width: 80%;
  word-wrap: break-word;
  overflow-y: scroll;
}

.drive-box {
  box-sizing: border-box;
  margin-top: 7px;
  background-color: rgb(54, 48, 98);
  border-radius: 10px;
  box-shadow: rgba(246, 250, 255, 0.2) 0px 0px 5px;
  padding: 8px;
}
